# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: test-coverage

permissions: read-all

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Start Valhalla (Docker, Berlin)
        run: |
          set -eux
          DATA_DIR="${RUNNER_TEMP}/valhalla"
          mkdir -p "${DATA_DIR}"

          docker run -dt --name valhalla -p 8002:8002 \
            -v "${DATA_DIR}:/custom_files" \
            -e tile_urls=https://download.geofabrik.de/europe/germany/berlin-latest.osm.pbf \
            ghcr.io/valhalla/valhalla-scripted:latest

          for i in {1..60}; do
            if curl -sf http://localhost:8002/status; then
              echo "Valhalla ready"; break
            fi
            sleep 2
          done
        shell: bash

      - name: Create and populate .Renviron file
        run: |
          echo 'VALHALLA_CI="http://localhost:8002"' >> ~/.Renviron
        shell: bash

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr, any::xml2
          needs: coverage

      - name: Test coverage
        run: |
          cov <- covr::package_coverage(
            quiet = FALSE,
            clean = FALSE,
            install_path = file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")
          )
          print(cov)
          covr::to_cobertura(cov)
        shell: Rscript {0}

      - uses: codecov/codecov-action@v5
        with:
          # Fail if error if not on PR, or if on PR and token is given
          fail_ci_if_error: ${{ github.event_name != 'pull_request' || secrets.CODECOV_TOKEN }}
          files: ./cobertura.xml
          plugins: noop
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-test-failures
          path: ${{ runner.temp }}/package

      - name: Stop Valhalla
        if: runner.os == 'Linux'
        run: |
          docker rm -f valhalla || true
